.marquee {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 80s linear infinite;
  will-change: transform;
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 5px;
  transition: transform 0.3s ease;
}

.marquee-item:hover {
  transform: translateY(-10px);
}

.marquee-item img {
  height: 160px;
  width: auto;
  opacity: 1;
}

/* Optional pause */
.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}