.marquee {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 10px 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 80s linear infinite;
  will-change: transform;
  gap: 8px;
  padding: 4px 0;
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 5px;
  transition: transform 0.3s ease;
}

.marquee-item:hover {
  transform: translateY(-10px);
}

.marquee-item img {
  height: clamp(90px, 10vw, 150px);
  width: auto;
  opacity: 1;
  object-fit: contain;
}

/* Optional pause */
.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 640px) {
  .marquee-item {
    padding: 0 3px;
  }
}