.card {
  display: flex;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* Vertical layout */
.card--vertical {
  flex-direction: column;
}

/* Horizontal layout */
.card--horizontal {
  flex-direction: row;
}

/* Image on right */
.card--image-right {
  flex-direction: row-reverse;
}

/* Image styles */
.card--horizontal img,
.card--image-right img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

/* Text block */
.card-text {
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex: 1;
  color:black;
  justify-content: center;
  align-items: center;
}
.card-btn {
  margin-top: 16px;
  display: inline-block;
  padding: 10px 22px;
  background: yellow;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  width: fit-content;
}

.card-btn:hover {
  background: #145a1f;
}
