.category-card {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover lift only */
.hover-lift:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.category-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 12px;
}

.category-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color:black;
}

.category-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.category-card li {
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
  color:black;
}

.category-card .arrow {
  font-weight: bold;
  margin-right: 8px;
  color:black;
}

